<div class="manage_products">
   <%= link_to t(:'products.manage'), admin_products_path, :class => 'btn' %>
   <p> </p>
   <%= link_to t(:'sales.manage'),    admin_sales_path,    :class => 'btn' %>
</div>