.main-highlights
	/ highlights carousel
	#highlights_carousel
		.navigation.left
		.navigation.right

		%ul.pages
			%li .
			%li .
			%li .
	/ end highlights carousel

	#static_highlights
		#upper_highlights

		#bottom_highlights

