.main-highlights
	/ highlights carousel
	#highlights_carousel
		.navigation.left
		.navigation.right

		%ul.pages
			%li .
			%li .
			%li .
	/ end highlights carousel

	#static_highlights
		#upper_highlights

		#bottom_highlights

	#blog_highlights
	- if !@home_headlines.nil?
		= image_tag @home_headlines.image_url(:thumb), :class => 'img-polaroid' if @home_headlines.image?
		= @home_headlines.title
		= @home_headlines.body