.main-highlights
	/ highlights carousel
	#highlights_carousel
		.navigation.left
		.navigation.right

		%ul.pages
			%li .
			%li .
			%li .
	/ end highlights carousel

	#static_highlights
		#upper_highlights

		#bottom_highlights

	#blog_highlights
		- if !@home_headlines.nil?
			.description
				.area-name Blog
				%h3= @home_headlines.title
				%p= @home_headlines.body

				= link_to "Saiba mais >" ,"#", :class => "know-more"

			.image
				= image_tag @home_headlines.image_url(:thumb) if @home_headlines.image?

		.clear