#blog {
	h2 {
		font-size: 30px;
		font-family: 'Open Sans';
		color: #f81d46;
		font-weight: normal;
	}

	#content {
		outline: 1px solid red;
		float: left;
		width: 710px;
	}

	#sidebar {
		outline: 1px solid blue;
		float: left;
		width: 240px;
	}
}