#blog
	#content
		%h2 Mochi blog

		%ul.highlighted-posts
			%li
				.img
				.category.fashion moda
				.title lorem ipsum
				%p lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla 

			%li
				.img
				.category.diy diy
				.title lorem ipsum
				%p lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla 

			%li
				.img
				.category.looks looks
				.title lorem ipsum
				%p lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla 

		.posts
			.post
				lorem ipsum bla bla bla

	#sidebar
		bla bla bla

	.clear
