#blog_highlights {
	margin: 68px 0;

	.description {
		float: left;
		display: inline-block;
		width: 365px;
		
		p {
			color: #000;
			max-height: 200px;
			overflow: hidden;
		}

		h3 {
			margin: 5px 0 20px;
			font-family: 'Droid Sans';
			font-size: 20px;
		}

		.area-name {
			color: #10ea24;
		}

		.know-more {
			display: inline-block;
			margin-top: 20px;
			text-decoration: none;
		}

		h3, .know-more {
			color: #51d1e0;
		}

		.area-name, .know-more {
			font-style: italic;
			font-weight: bold;
		}

		.arrow-right {
			background: url("blue-arrow-right.png");
			display: inline-block;
			height: 7px;
			margin-left: 4px;
			width: 6px;
		}
	}

	.image {
		float: right;

		img {
			height: 317px;
			width: 565px;
		}
	}

}