#footer {
	margin-top: 50px;
	height: 286px;
	font-family: 'Droid Sans';
	font-size: 13px;

	.top {
		background: #fcffb6;
		border-top: 2px dashed #51d1e0;
		height: 89%;

		.background {
			background: url(footer.png);
			width: 1277px;
			height: 255px;
			margin: 0 auto;
			z-index: 0;
			position: absolute;
		}

		.footer-content{
			height: 100%;
			margin: 0 auto;
			position: relative;
			width: 950px;
			z-index: 1;

			div {
				float: right;
			}

			.links {
				background: #FFF;
				box-shadow: -4px 5px 0px 0px #76c71f;
				height: 200px;
				float: left;
				margin-top: 25px;
				width: 326px;
				text-transform: uppercase;

				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					text-transform: none;

					a {
						color: #51d1e0;
						font-family: 'Open Sans';
						font-size: 13px;
						text-decoration: none;
					}

					li {
						margin: 2px 0;
					}
				}

				span {
					display: inline-block;
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 11px; 
				}

				.help, .follow {
					margin-top: 25px;
				}

				.help {
					float: left;
					margin-left: 20px;

					span {
						color: #3a059a;
					}
				}

				.follow {
					float: right;
					margin-right: 20px;

					span {
						color: #ff67ef;
					}
				}
			}

			.newsletter {
				background: #4bddee;
				border: 3px solid #51d1e0; 
				border-radius: 8px;
				box-shadow: -3px 4px 0px 1px #8539d4;
				float: left;
				height: 155px;
				margin-top: 27px;
				margin-left: 30px;
				width: 365px;
			}
		}
	}

	.bottom {
		text-align: center;
		line-height: 30px;

		p {
			margin-top: 0;
		}
	}
}