body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
	ul {
		list-style-type: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.container, #nav .container {
	width: 950px;
	margin: 0 auto;
	
	h1 {
		font-size: 36px;
	}
}

.clear {
	clear: both;
}

////////////////////////////////////////////////////////////

// .all-products {
// 	display: inline;
// 	min-width: 800px;
// }

// .filter-form {
// 	margin-left: 8px;
// }

// .form-inputs { 
// 	textarea {
// 		resize: none;
// 	}
// }

// #products_and_paginator {
// 	float: left;
// }

// .shop-cart {
// 	float: right;
// 	right: 55px;
// 	width: 360px;
// }
