div#nav {
	background-color: #000;
	color: #FFF;
	font-family: Droid Sans;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	width: 100%;

	.container {
		width: 950px;
		margin: 0 auto;
		
		a {
			color: #FFF;
			text-decoration: underline;
			font-weight: bold;

			&.logout {
				font-size: 12px;
			}
		}

		#cart {
			float: right;
			padding: 0 12px;
			font-size: 12px;

			a {
				text-decoration: none;
				font-weight: normal;
			}

			.cart-icon {
				background-image: url("cart.png");
				display: inline-block;
				height: 17px;
				margin-right: 8px;
				position: relative;
				top: 2px;
				width: 13px;
			}
		}

		#my_account {
			cursor: pointer;
			display: inline-block;
			float: right;
			width: 140px;

			.arrow {
				background-image: url("white-arrow.png");
				display: inline-block;
				height: 6px;
				margin: 0;
				width: 7px;
			}

			span {
				display: inline-block;
				margin: 0 12px;
			}

			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					font-size: 12px;
					padding: 7px;
				}

				&.menu {
					background-color: #000;
					line-height: 20px;
					position: absolute;
					width: inherit;
					z-index: 1;
				}
			}
		}
	}
}