#highlights_carousel {
	width: 743px;
	height: 414px;
	position: relative;
	color: #51d1e0;
	font-size: 29px;
	font-family: 'Open Sans', sans-serif;
	background: #7F7F7F;

	.navigation {
		width: 29px;
		height: 58px;
		position: absolute;
		top: 43%;
		background-color: #000;
		cursor: pointer;

		&.left {
			background: url(carousel-arrow-left.png);
			left: 0;
		}

		&.right {
			right: 0;
			background: url(carousel-arrow-right.png);
		}
	}
}