.top
	.background
	.footer-content
		%div
			.links
				.help
					%span Precisa de Ajuda?
					%ul
						%li 
							%a{:href => '#'} Pedidos
						%li 
							%a{:href => '#'} Trocas
						%li 
							%a{:href => '#'} International Orders
						%li 
							%a{:href => '#'} Tabela de medidas
						%li 
							%a{:href => '#'} Perguntas frequentes
						%li 
							%a{:href => '#'} Contato

				.follow
					%span Acompanhe	
					%ul
						%li 
							%a{:href => '#'} Twitter
						%li 
							%a{:href => '#'} Facebook
						%li 
							%a{:href => '#'} Instagram
						%li 
							%a{:href => '#'} Pinterest

			.newsletter
				%div
					.one Assine a nossa newsletter
					.two Quem assina tem frete grátis na primeira compra.

				.email-box
					%form{:action => '#'}
						%label Email:
						%input{:type => 'text'}
						%input{:type => 'submit', :value => 'Enviar'}


.bottom
	%p
		Mochi 2013 | Termos de uso | Política de privacidade