.top
	.footer-content
		%div
			.links
				.help
					Precisa de Ajuda?
					%ul
						%li Pedidos
						%li Trocas
						%li International Orders
						%li Tabela de medidas
						%li Perguntas frequentes
						%li Contato

				.follow
					Acompanhe	
					%ul
						%li Twitter
						%li Facebook
						%li Instagram
						%li Pinterest

			.newsletter

.bottom
	%p
		Mochi 2013 | Termos de uso | Política de privacidade